{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="col-12 ">
                
        <h1>Create Workoutplan</h1>

            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(size=32) }}
                    {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.description.label }}<br>
                    {{ form.description(size=100) }}
                    {% for error in form.description.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.category.label }}<br>
                    {{ form.category(size=100) }}
                    {% for error in form.category.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.status.label }}<br>
                    {{ form.status() }}
                    {% for error in form.status.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.exercises.label }}<br>
                    {{ form.exercises() }}
                    {% for error in form.exercises.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>{{ form.submit() }}</p>
            </form>
            <div class="container w-25"></div>
        </div>
    </div>
{% endblock %}